<app-header 
    [title]="title"
    [user]="user"
    (signOutAction)="signOut()">

</app-header>

<div class="col-md-6 offset-md-3 wizard">

    <app-wizard-maker [wizardContext]="step_form"
                    (nextAction)="setFormData($event)" 
                    (calculateAction)="calculateShippingCost()" 
                    (complete)="complete()">
        <!-- Step 1 -->
        <ng-template let-step_content let-nextStepHandle="nextStepHandle">        
            <div appFormStep id='1'>
                <div class="form-wrapper">
                    <h5>{{step_content.title}}</h5> 
                    <form #f="ngForm">
                        <div class="form-group">
                            <label for="name">Full Name:</label>
                            <input class="form-control" [ngClass]="{'is-error': name.invalid && (name.dirty || name.touched)}" type="text" id="name" name="name" [ngModel]="step_content.name" #name="ngModel" placeholder="Name" required>
                            <div *ngIf="name.invalid">
                                    Full Name is required
                            </div>

                            <label for="name">Street:</label>
                            <input class="form-control" [ngClass]="{'is-error': street.invalid && (street.dirty || street.touched)}" type="text" id="street" name="street" [ngModel]="step_content.street" #street="ngModel" placeholder="Street" required>

                            <label for="city">City</label>
                            <input class="form-control" [ngClass]="{'is-error': city.invalid && (city.dirty || city.touched)}" type="text" id="city" name="city" [ngModel]="step_content.city" #city="ngModel" placeholder="City" required>

                            <label for="state">State</label>
                            <input class="form-control" [ngClass]="{'is-error': state.invalid && (state.dirty || state.touched)}" type="text" id="state" name="state" [ngModel]="step_content.state" #state="ngModel" placeholder="State" required>

                            <label for="state">Zip</label>
                            <input class="form-control" [ngClass]="{'is-error': state.invalid && (zip.dirty || zip.touched)}" type="number" id="zip" name="zip" [ngModel]="step_content.zip" #zip="ngModel" placeholder="Zip" maxlength="5" size="5" pattern=".{5,5}" required>

                            <input class="form-control" ng-value="from" type="text" name="dataFrom" [ngModel]="step_content.dataFrom" style="display:none" #name="ngModel">
                        </div>
                    </form>             
                    <button class="btn btn-primary" [disabled]="f.invalid" (click)="nextStepHandle(f.value)">Next</button>
                </div>
            </div>
        </ng-template>

        <!-- Step 2 -->
        <ng-template let-step_content let-nextStepHandle="nextStepHandle" let-backStepHandle="backStepHandle">        
                <div appFormStep id='2'>
                    <div class="form-wrapper">
                        <h5>{{step_content.title}}</h5> 
                        <form #f="ngForm">
                            <div class="form-group">
                                    <label for="name">Full Name:</label>
                                    <input class="form-control" [ngClass]="{'is-error': name.invalid && (name.dirty || name.touched)}" type="text" id="name" name="name" [ngModel]="step_content.name" #name="ngModel" placeholder="Name" required>
            
                                    <label for="name">Street:</label>
                                    <input class="form-control" [ngClass]="{'is-error': street.invalid && (street.dirty || street.touched)}" type="text" id="street" name="street" [ngModel]="step_content.street" #street="ngModel" placeholder="Street" required>
            
                                    <label for="city">City</label>
                                    <input class="form-control" [ngClass]="{'is-error': city.invalid && (city.dirty || city.touched)}" type="text" id="city" name="city" [ngModel]="step_content.city" #city="ngModel" placeholder="City" required>
            
                                    <label for="state">State</label>
                                    <input class="form-control" [ngClass]="{'is-error': state.invalid && (state.dirty || state.touched)}" type="text" id="state" name="state" [ngModel]="step_content.state" #state="ngModel" placeholder="State" required>
            
                                    <label for="state">Zip</label>
                                    <input class="form-control" [ngClass]="{'is-error': state.invalid && (zip.dirty || zip.touched)}" type="number" id="zip" name="zip" [ngModel]="step_content.zip" #zip="ngModel" placeholder="Zip" maxlength="5" size="5" pattern=".{5,5}" required>
            
                                    <input class="form-control" ng-value="from" type="text" name="dataFrom" [ngModel]="step_content.dataFrom" style="display:none" #name="ngModel">
                            </div>
                        </form>  
                        <button class="btn btn-primary" (click)="backStepHandle()" style="margin-right: 10px;">Back</button>           
                        <button class="btn btn-primary" [disabled]="f.invalid" (click)="nextStepHandle(f.value)">Next</button>
                    </div>
                </div>
            </ng-template>

        <!-- Step 3 -->
        <ng-template let-step_content let-nextStepHandle="nextStepHandle" let-backStepHandle="backStepHandle">        
                <div appFormStep id='3'>
                    <div class="form-wrapper">
                        <h5>{{step_content.title}}</h5> 
                        <form #f="ngForm">
                            <div class="form-group">
                                <label for="weight">Weight</label>
                                <input class="form-control" [ngClass]="{'is-error': weight.invalid && (weight.dirty || weight.touched)}" type="number" id="weight" name="weight" [ngModel]="step_content.weight" #weight="ngModel" placeholder="Weight" required>
                            </div>
                        </form>     
                        <button class="btn btn-primary" (click)="backStepHandle()" style="margin-right: 10px;">Back</button>        
                        <button class="btn btn-primary" [disabled]="f.invalid" (click)="nextStepHandle(f.value)">Next</button>
                    </div>
                </div>
        </ng-template>

        <!-- Step 4 -->
        <ng-template let-step_content let-calculateNextStepHandle="calculateNextStepHandle" let-backStepHandle="backStepHandle">        
                <div appFormStep id='4'>
                    <div class="form-wrapper">
                        <h5>{{step_content.title}}</h5> 
                        <form #f="ngForm">
                            <div class="form-group">
                                <label  for="shippingOption">Shipping Option</label>
                                <select class="form-control" name="val" [ngModel]="step_content.shippingOption" id="shippingOption" name="shippingOption" [ngClass]="{'is-error': shippingOption.invalid && (shippingOption.dirty || shippingOption.touched)}" #shippingOption="ngModel" required>
                                    <option [value]="1" selected="selected">Ground</option>
                                    <option [value]="2">Priority</option>
                                </select>
                            </div>
                        </form>      
                        <button class="btn btn-primary" (click)="backStepHandle()" style="margin-right: 10px;">Back</button>       
                        <button class="btn btn-primary" [disabled]="f.invalid" (click)="calculateNextStepHandle(f.value)">Next</button>
                    </div>
                </div>
        </ng-template>

        <!-- Step 5 -->
        <ng-template let-step_content let-nextStepHandle="nextStepHandle" let-backStepHandle="backStepHandle" let-finishStepHandle="finishStepHandle">        
                <div appFormStep id='5'>
                    <div class="form-wrapper">
                        <h5>{{step_content.title}}</h5>   
                        <label for="weight">Shipping Cost:</label>
                        <input class="form-control" [ngModel]="step_content.shippingCost" disabled>
                        
                        <button class="btn btn-primary" (click)="backStepHandle()" style="margin-right: 10px;">Back</button>       
                        <button class="btn btn-primary" (click)="finishStepHandle()">Confirm</button>
                    </div>
                </div>
        </ng-template>

    </app-wizard-maker>
</div>